# Compiled files and logs

*.idb
*.pdb
*.ilk
*.tlog
*.log
*.ipch
*.db
*.opendb
*.lib
*.exe
*.db
*.db-shm
*.iobj
*.ipdb
*.suo
.vs/*
x64/*

depend/

*.vcxproj*
*CMakeFiles*
*CMakeCache.txt*
*.cmake
*.sln